﻿@model GalacticDVDRentals.ViewModel.GenreModel

@{
    ViewBag.Title = "Index";
}



<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/JavaScript.js"></script>
<div>
    <img src="~/images/galactic.png" class="header-img" />
</div>
<div style="text-align:center; margin-top:50px;">
    <p>
        <h1><b>Welcome to Galatic DVD Rentals!</b></h1><br /><br />


        <h4>
            We have the latest and greatest in home entertainment at low, low prices.<br />
            Browse our full catalog of DVDs, organised by category.<br />
            You can book by calling us on 021 555 1234,<br />
            or emailing us at
        </h4> <a href="mailto:booking@galacticdvdrentals.com">
    <p style="font-size:22px">booking@galacticdvdrentals.com</p></a>
    </p>
</div>
<div class="flexcontainer">


    @{
        foreach (var item in ViewBag.genreListing)
        {
            <div class="flex-item" id="texts">@Html.ActionLink((string)@item, "Index", "Genre", new RouteValueDictionary(new { genrepass1 = (string)@item }), null)</div>
        }
    }



</div>
