﻿@model IEnumerable<GalacticDVDReact.EntityModels.DVDInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Starring)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Starring)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
          @{    var base64 = Convert.ToBase64String(item.Image);
              var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
          }
          <img src='@imgsrc' style="max-height:100px;max-width:100px;" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DvdId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DvdId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DvdId })
        </td>
    </tr>
}

</table>
