﻿@model GalacticDVDReact.ViewModel.DetailView

@{
    ViewBag.Title = "Index";
}


<div id="detailDiv" class="flexcontainer-genre"></div>
<script src="@Url.Content("~/jsx/Detail.jsx")"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />


<script type="text/babel">
  ReactDOM.render(
  <DetailsRender dataUrl="/Genre/getDetailInfoForDetails?newId=@Model.DvdId" />,
  document.getElementById('detailDiv')
  );
</script>