﻿@model GalacticDVDRentals.ViewModel.GenreModel

@{
    ViewBag.Title = "Index";
}



<link href="~/Content/Site.css" rel="stylesheet" />
<div id="container1"></div>
<script src="@Url.Content("~/jsx/dropdown.jsx")"></script>

<div>
  <h2>@Model.Genre</h2>
</div>
<div id="griddata" class="flexcontainer-genre"></div>
<script src="@Url.Content("~/jsx/Genre.jsx")"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

@{ 
    var genre = Model.Genre;
    var text =Html.Action("GetDvdInfoForGenre", "Genre", genre);

}

<script type="text/babel">
  

  ReactDOM.render(
  <MovieGridTable dataUrl="/Genre/GetDvdInfoForGenre?genre=@Model.Genre" />,
  document.getElementById('griddata')
  );

  ReactDOM.render(
  <DropDown value="@Model.Genre" dataUrl2="/Genre/DropDownList" />,
  document.getElementById('container1')
  );
</script>

<!--$.getJSON("/Genre/GetDvdInfoForGenre?Model.Genre", function(data) {
 var GenreItems = data
      })
      // en dan die GenreItems add by die ReactDOM by "dataUrl", en "GenreItems in my Genre.jsx roep in die function"

      //Of die data van die controller "GetDvdInfoForGenre" hier bo stoor as Raw Json?
      // iets soos "Html.Raw(Json.Encode(....))" <-- het dit op internet gelees

      //Ek kan my net voorstel dat ek n AJAX call hier moet doen, maar dan moet ek die hele Genre.jsx oordoen reg?
      // Sit vas want hoe meer ek uitredeneer hoe langer word my code....
      -->
