﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.flexcontainer{
    border-top:solid black 1px;
   
   display: flex;
 
   align-items: center;
 
   justify-content: center;
 
   flex-flow: column wrap;
 
   align-content: stretch;
   max-height:250px;
   max-width:100%;

}

.flex-item {
  
    width: auto;
    height: auto;
    margin: 10px;
    text-decoration:none;
    font-size:35px;
    
}
#texts{
      text-decoration:none;
}
#texts:hover{
    transition:ease-in-out 0.25s;
    transform:scale(1.1);
     text-decoration:none;
}
.header-img{
    width:100%;
}
.flex-item-small{
    
   max-height:270px;
   max-width:270px;
    margin: 10px;
    flex: 1 0 0;
    
   
}
.flex-item-big{
    flex: 2 0 0;
    width: 100%;
    height: auto;
    margin: 10px;
   
   
}
.flexcontainer-genre{
    border-top:solid black 1px;
   
   display: flex;
 
   align-items: center;
 
   justify-content: center;
 
   flex-flow: row wrap;
 
   align-content: stretch;
   height: auto;
   width:auto;

}

#imgHover:hover{
    transition:ease-in-out 0.50s;
    transform:scale(1.25);
   position:center;
    margin-top:50px;
    margin-bottom:50px;
   
    margin-left:25px;
    
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
.imageGenre {


  max-height:250px;
  max-width:250px;

}
#moreInfo{
    display:none;
}


